// app global css in Sass form
.color-grey
    color: $fontColor

.border-right
    border-right: 2px solid rgba(232, 232, 232, 1)

.opacity-50 
    opacity: .5

.height-without-header
    height: calc(100vh - 51px)

.required .q-field__native ~ .q-field__label:after 
  content: '*'
  color: red

.mobile-container-page
    overflow-y: auto
    height: calc(100vh - 120px)

.mobile-container-page-without-search
    overflow-y: auto
    height: calc(100vh - 62px)