@import './input.scss';
@import './quasar.styles.scss';

.color-grey {
  color: $fontColor;
}
.heading-light {
  color: $titleHeading;
}
.clickable {
  cursor: pointer;
}

.border-right {
  border-right: 2px solid rgba(232, 232, 232, 1);
}

.opacity-50 {
  opacity: 0.5;
}

.height-without-header {
  height: calc(100vh - 51px);
}

.required .q-field__native ~ .q-field__label:after {
  content: '*';
  color: red;
}

.mobile-container-page {
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.mobile-container-page-without-search {
  overflow-y: auto;
  height: calc(100vh - 62px);
}

.actions-div {
  height: 56px;
  display: flex;
  border-bottom: 1px solid #0000001f;
  align-items: center;
  .q-field__prepend {
    padding: 12px;
  }
  .texts {
    margin-bottom: 0;
    font-size: 15px;
    text-align: left;
  }
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.w-100 {
  width: 100%;
}

.click-link {
  color: $primary;
}

.no-visibility {
  visibility: hidden;
}

.button-width-90 {
  width: 90%;
  margin-left: 5%;
}

.stepper-heading {
  color: $dark-grey;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.fit-content {
  width: fit-content;
}

.bgNewPrimary {
  background-color: $sidePanel;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

.image-80 {
  height: 80px;
  width: 80px;
}

.image-60 {
  height: 60px;
  width: 60px;
}

.half-width {
  width: 50%;
}

.details-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.75px;
}

.details-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $font-heading;
  letter-spacing: 0.75px;
}

.details-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $font-content;
  letter-spacing: 0.15px;
}

.text-input {
  box-sizing: border-box;
  border-radius: 8px;
}

.header-letter-space {
  letter-spacing: 00.75px;
}
.label-letter-space {
  letter-spacing: 00.15px;
}
.q-dialog__backdrop {
  z-index: -1;
  pointer-events: all;
  outline: 0;
  background: #000000 !important;
  opacity: 0.7 !important;
}
