// app global css in Sass form
.bg-side-panel
    background-color: $sidePanel

.color-grey
    color: $fontColor

.bg-login
    background-color: $loginGrey

.border-right
    border-right: 2px solid rgba(232, 232, 232, 1)

.opacity-50 
    opacity: .5