@import './input.scss';
@import './quasar.styles.scss';

.color-grey {
  color: $fontColor;
}
.heading-light {
  color: $titleHeading;
}
.clickable {
  cursor: pointer;
}

.border-right {
  border-right: 2px solid rgba(232, 232, 232, 1);
}

.opacity-50 {
  opacity: 0.5;
}

.height-without-header {
  height: calc(100vh - 51px);
}

.required .q-field__native ~ .q-field__label:after {
  content: '*';
  color: red;
}

.mobile-container-page {
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.mobile-container-page-without-search {
  overflow-y: auto;
  height: calc(100vh - 62px);
}

.actions-div {
  height: 56px;
  display: flex;
  border-bottom: 1px solid #0000001f;
  align-items: center;
  .q-field__prepend {
    padding: 12px;
  }
  .texts {
    margin-bottom: 0;
    font-size: 15px;
    text-align: left;
  }
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.w-100 {
  width: 100%;
}

.click-link {
  color: $primary;
}

.no-visibility {
  visibility: hidden;
}

.button-width-90 {
  width: 90%;
  margin-left: 5%;
}

.stepper-heading {
  color: $dark-grey;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.fit-content {
  width: fit-content;
}

.bgNewPrimary {
  background-color: $sidePanel;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

.image-80 {
  height: 80px;
  width: 80px;
}

.image-60 {
  height: 60px;
  width: 60px;
}

.half-width {
  width: 50%;
}

.lineHeight24 {
  line-height: 24px;
}

.text-input {
  box-sizing: border-box;
  border-radius: 8px;
}
.logo-menu {
  border: 2px solid #e8e9ec;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.image-30 {
  height: 30px;
  width: 30px;
}
.image-40 {
  height: 40px;
  width: 40px;
}
.header-logo {
  border-radius: 75px;
}

.company-logo {
  border: 1px solid #000000;
  border-radius: 75px;
}
.company-details {
  width: calc(100vw - 508px);
}
.details-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.75px;
}
.details-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $font-heading;
  letter-spacing: 0.75px;
}
.details-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $font-content;
  letter-spacing: 0.15px;
}
.details-container {
  width: calc(100vw - 404px);
}
@media screen and (max-width: 1023px) {
  .details-title {
    font-size: 20px;
    line-height: 24px;
  }
  .company-details {
    width: calc(100vw - 146px);
  }
  .details-container {
    width: calc(100vw - 62px);
  }
}
.btn-submit {
  letter-spacing: 0.15px;
}

.btn-submit .q-btn__wrapper:before {
  display: none !important;
  letter-spacing: 0.15px;
}

.term-policy-text .q-checkbox__bg {
  border-radius: 6px;
}

input::-webkit-input-placeholder {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  color: #8a90a0 !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  color: #8a90a0 !important;
}

input::placeholder {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  color: #8a90a0 !important;
}

.bg-sidePanel {
  background-color: $sidePanel;
}
.signup-sub.subscribe .q-field--outlined .q-field__control {
  margin-top: 4px;
}
