.q-field__bottom {
  padding: 3px 10px 0;
}

.q-field--with-bottom {
  padding-bottom: 16px !important;
}

.autocomplete-input--signUp {
  height: 40px;
  padding: 0 12px;
  margin-bottom: 16px;
  background: #f2f2f2;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.00937em;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}

.input-margin--40 {
  margin-bottom: -40px;
}

.input-extra-padding {
  padding-bottom: 14px;
}

.select-input {
  height: 40px;
  padding: 0 12px;
  margin-bottom: 16px;
  font-weight: 400;
  background-color: white;
  line-height: 28px;
  letter-spacing: 0.00937em;
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 4px;
}
.form-heading {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}
.listing-height {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
.clickLink {
  color: $primary;
}
.icon-top {
  position: absolute;
  right: 20px;
  top: -40px;
  font-size: 24px;
  z-index: 10000;
}

.edit-icon {
  position: absolute;
  right: 20px;
  font-size: 20px;
}

.clients-list {
  background-color: #f4f4f4;
  border-bottom: 6px solid white;

  .client-list-item {
    padding: 20px;
    background-color: #f4f4f4;
    text-transform: capitalize;
  }
}
.add-icon {
  position: absolute;
  right: 5px;
  top: -40px;
  font-size: 24px;
  z-index: 10000;
}
.custom-select {
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 20px;

  .select-text {
    line-height: 24px;
    padding-top: 24px;
    padding-bottom: 8px;
    height: 50px;
  }
}

.time-input {
  height: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  background-color: white;
  line-height: 28px;
  letter-spacing: 0.00937em;
  border-bottom: 1px solid lightgray;
  border-right: 0px;
  border-left: 0;
  border-top: 0;
  width: 100%;
  border-radius: 4px;
}
