// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #f05a26
$secondary : #d64d25
$accent    : #9C27B0
$sidePanel : #1b2854
$dark      : #1D1D1D
$dark-grey : #333333
$fontColor : rgba(121,121,121,1)
$titleHeading: #999999

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
